# Ignore node_modules directory
node_modules/

# Ignore build and output directories
dist/
build/

# Ignore npm package lock files
package-lock.json
yarn.lock

# Ignore environment-specific files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore macOS system files
.DS_Store

# Ignore Android build output
android/app/build/

# Ignore iOS build output
ios/build/
ios/Pods/
ios/Podfile.lock

# Ignore logs and debugging files
logs/
*.log

# Ignore editor and IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
